@charset "UTF-8";
/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* FONT */
@font-face {
  font-family: "soul";
  src: url(../font/soul-handwriting_free-version.ttf) format("truetype");
}
@font-face {
  font-family: "cloud";
  src: url(../font/MCKLW___.ttf) format("truetype");
}
body {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f5b5c7;
  /* 왼쪽 페이지 */
  /* 오른쪽 페이지 */
}
body .half {
  width: calc(50% + 1px);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #59bdf0;
  border-right: 1px solid #000;
}
body .half p {
  position: absolute;
  font: 7.5rem/1 "soul";
  top: 3vw;
  left: 2vw;
  color: #D8FD12;
  text-shadow: 0.2rem 0.5rem 1rem rgba(85, 85, 85, 0.8);
}
body .half img {
  position: absolute;
}
body .half .twingkle_effect1 {
  width: 20vw;
  top: 25vw;
  left: 8vw;
}
body .half .twingkle_effect2 {
  width: 20vw;
  top: 25vw;
  left: 25vw;
}
body .half .barbie_doll {
  top: 18vw;
  left: 17vw;
}
body .half .dummies > img:nth-of-type(1) {
  width: 7vw;
  top: 11vw;
  left: 11vw;
  transform: rotate(35deg);
}
body .half .dummies > img:nth-of-type(2) {
  width: 6vw;
  top: 12vw;
  left: 33vw;
  transform: rotate(-35deg);
}
body .half .dummies > img:nth-of-type(3) {
  width: 8vw;
  top: 40vw;
  left: 3vw;
  transform: rotate(-15deg);
}
body .half .dummies > img:nth-of-type(4) {
  width: 50px;
  top: 48vw;
  left: 18vw;
  transform: rotate(-10deg);
}
body .half .dummies > img:nth-of-type(5) {
  width: 4vw;
  top: 45vw;
  left: 30vw;
  transform: rotate(10deg);
}
body .half .dummies > img:nth-of-type(6) {
  width: 7vw;
  top: 46vw;
  left: 35vw;
  transform: rotate(50deg);
}
body .half .barbie_text {
  top: 38vw;
  left: 14vw;
  width: 20vw;
  transform: rotate(35deg);
}
body .half2 {
  position: relative;
  width: 50%;
  top: 0;
  left: 50%;
  overflow: hidden;
  /* 오른쪽 페이지 헤더 */
  /* 오른쪽 페이지 줄거리 소개 */
  /* 마퀴 텍스트 효과 */
}
body .half2 .common_header {
  top: 0;
  width: 100%;
  height: 15vh;
  color: #000;
}
body .half2 .common_header nav {
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
body .half2 .common_header .main_nav {
  width: 70%;
  padding: 0.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 30px/1 "Josefin Sans";
  cursor: pointer;
}
body .half2 .common_header .main_nav li {
  text-align: center;
  flex-basis: 100px;
}
body .half2 .common_header .main_nav li:hover {
  font: bold 30px/1 "cloud";
}
body .half2 .common_header .sub_nav {
  width: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 20px/1 "Josefin Sans";
  box-sizing: border-box;
  cursor: pointer;
}
body .half2 .common_header .sub_nav span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.7vh;
  padding-top: 1vh;
}
body .half2 .common_header .sub_nav span:hover {
  background-color: #59bdf0;
  transition: 1.3s;
}
body .half2 .common_header .sub_nav .lang:hover {
  text-decoration: underline;
  font-style: italic;
}
body .half2 .common_header .coverGreen {
  top: 0;
  width: 100vw;
  background-color: #D8FD12;
  border: 1px solid #878787;
  padding: 1rem;
}
body .half2 .common_header .coverGreen .lineText5 {
  color: #ff3796;
  font: italic bold 1rem/1 "Playfair Display";
}
body .half2 .barbie_inner {
  padding: 3vw;
  /* 오른쪽 페이지__메인글씨 */
  /* 오른쪽 페이지__드라이기 */
  /* 오른쪽 페이지 등장인물 소개 */
}
body .half2 .barbie_inner .mainText {
  width: 100%;
  height: 30vw;
  background-color: black;
}
body .half2 .barbie_inner > p {
  font: bold 1.2rem "NEXON Lv1 Gothic OTF";
  text-align: center;
}
body .half2 .barbie_inner .dryer {
  position: relative;
  width: 100%;
  height: 50vw;
  background-color: #59bdf0;
}
body .half2 .barbie_inner .dryer > img {
  width: 300px;
}
body .half2 .barbie_inner .dryer .dollars {
  overflow-x: hidden;
  height: 200px;
}
body .half2 .barbie_inner .dryer .dollars > img:nth-child(1) {
  width: 200px;
  transform: rotate(-20deg);
  position: absolute;
  top: -15px;
  right: 20px;
}
body .half2 .barbie_inner .dryer .dollars > img:nth-child(2) {
  width: 100px;
  transform: rotate(20deg);
  position: absolute;
  top: -15px;
  right: 0px;
}
body .half2 .barbie_inner .dryer .dollars > img:nth-child(3) {
  width: 150px;
  transform: rotate(30deg);
  position: absolute;
  top: 50px;
  right: 0px;
}
body .half2 .barbie_inner > h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
  position: relative;
  top: 5vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}
body .half2 .barbie_inner .role {
  width: 100%;
  height: 30vh;
  position: relative;
  top: 6vw;
  left: 0;
}
body .half2 .barbie_inner .role .barbieRole {
  width: 13vw;
  position: absolute;
  top: 0;
  left: 0;
}
body .half2 .barbie_inner .role .barbieRole .barbieRoleImg {
  height: 250px;
  background-image: url(../img/castBarbie.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #59bdf0;
}
body .half2 .barbie_inner .role .barbieRole > span {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
}
body .half2 .barbie_inner .role .kenRole {
  width: 13vw;
  position: absolute;
  top: 0;
  left: 10vw;
}
body .half2 .barbie_inner .role .kenRole .kenRoleImg {
  height: 250px;
  background-image: url(../img/castKen.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #59bdf0;
}
body .half2 .barbie_inner .role .kenRole > span {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
}
body .half2 .barbie_inner .role .director {
  width: 13vw;
  position: absolute;
  top: 0;
  left: 20vw;
}
body .half2 .barbie_inner .role .director .directorRoleImg {
  height: 250px;
  background-image: url(../img/castGretaGerwig.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #59bdf0;
}
body .half2 .barbie_inner .role .director > span {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
}
body .half2 .barbie_inner .role .writer {
  width: 13vw;
  position: absolute;
  top: 0;
  left: 30vw;
}
body .half2 .barbie_inner .role .writer .writerRoleImg {
  height: 250px;
  background-image: url(../img/castNoahBaumbach.webp);
  background-position-x: -135px;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #59bdf0;
}
body .half2 .barbie_inner .role .writer > span {
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
}
body .half2 .barbieStory {
  background-color: rgb(255, 255, 220);
  position: relative;
  top: 5vw;
}
body .half2 .barbieStory .bgCandy {
  background-image: url(../img/bgCandy.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  opacity: 0.5;
}
body .half2 .barbieStory .bgCandy .barbie_inner .barbieVideo {
  z-index: 3;
}
body .half2 .coverPink1 {
  width: 100vw;
  background-color: #ff3796;
  border: 1px solid #878787;
  padding: 1rem;
  transform: rotate(355deg);
  position: absolute;
  left: -1vw;
}
body .half2 .coverPink1 .lineText1 {
  color: #fff;
  font: bold 1rem/1 "Playfair Display";
  letter-spacing: 0.15rem;
  display: flex;
  font-style: italic;
}
body .half2 .coverPink2 {
  width: 100vw;
  background-color: #ff3796;
  border: 1px solid #878787;
  display: flex;
  padding: 1rem;
  transform: rotate(5deg);
  position: absolute;
  left: -30vw;
}
body .half2 .coverPink2 .lineText2 {
  color: #fff;
  font: bold 1rem/1 "Playfair Display";
  letter-spacing: 0.15rem;
  justify-content: flex-end;
  font-style: italic;
}
body .half2 .coverGreen {
  width: 100vw;
  background-color: #D8FD12;
  border: 1px solid #878787;
  padding: 1rem;
  position: relative;
  top: 5vw;
  z-index: 1;
}
body .half2 .coverGreen .lineText3 {
  color: #ff3796;
  font: bold 1rem/1 "Playfair Display";
  font-style: italic;
}
body .half2 .coverGreen .lineText4 {
  color: #ff3796;
  font: bold 1rem/1 "Playfair Display";
  font-style: italic;
}/*# sourceMappingURL=barbie.css.map */