@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes rotate_jan {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes text {
  0% {
    color: #000;
  }
  30% {
    letter-spacing: 50px;
    transform: scale(1.4);
  }
}
@keyframes scaling {
  20% {
    text-shadow: 0px 0 red, 0px 0 #799351, 0px 0 #f0d290;
    transform: scale(0.9, 1) rotatey(-10deg);
  }
  40% {
    transform: scale(0.9, 2) translatey(16px);
    text-shadow: -10px 0px red, -20px 0 #799351, -30px 0 #f0d290;
  }
  60% {
    transform: scale(0.9, 1) rotatey(-5deg);
    text-shadow: 0px 0 red, 0px 0 #799351, 0px 0 #f0d290;
  }
  80% {
    transform: scale(0.9, 2) translatey(16px);
    text-shadow: 10px 0px red, 20px 0 #799351, 30px 0 #f0d290;
  }
}
@keyframes jump {
  20% {
    transform: translatey(0) scale(0);
    opacity: 0;
  }
  40% {
    transform: translatey(-50px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translatey(0) scale(0);
    opacity: 0;
  }
  80% {
    transform: translatey(-50px) scale(1);
    opacity: 1;
  }
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "soul";
  src: url(/assets/fonts/soul-handwriting_free-version.ttf) format("truetype");
}
@font-face {
  font-family: "HSBombaram3_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  position: relative;
  background-color: black;
}
body .half {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: calc(50% + 1px);
  width: 50%;
  z-index: 1;
  border-right: 1px solid #000;
}
body .half h1 {
  position: absolute;
  font: 120px/1 "soul";
  top: 3vw;
  left: 2vw;
}
body .half2 {
  overflow-x: hidden;
  position: absolute;
  width: 50%;
  background-color: black;
  left: 50%;
  top: 0;
}
body .half2 .common_header {
  position: relative;
  top: 0;
  width: 100%;
  height: 15vh;
  color: white;
}
body .half2 .common_header nav {
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
body .half2 .common_header nav .main_nav {
  width: 70%;
  padding: 0.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 30px/1 "HSBombaram3_Regular";
  cursor: pointer;
}
body .half2 .common_header nav .main_nav li {
  text-align: center;
  flex-basis: 100px;
}
body .half2 .common_header nav .main_nav li a {
  color: white;
}
body .half2 .common_header nav .main_nav li:hover {
  transform: scale(1.5);
  font-weight: 500;
}
body .half2 .common_header nav .sub_nav {
  width: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 1.4rem/1 "Josefin Sans";
  box-sizing: border-box;
  cursor: pointer;
}
body .half2 .common_header nav .sub_nav span {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.4vw;
  padding-top: 0.6vw;
  color: white;
  margin-left: 4vw;
}
body .half2 .common_header nav .sub_nav span:hover {
  background-color: #a20a0a;
  transition: 1.3s;
}
body .half2 .coverPink {
  width: 100vw;
  background-color: #a20a0a;
}
body .half2 .coverPink .lineText1 {
  transform: rotate(-2deg);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold 1rem/1 "Josefin Sans";
}
body .half2 .inner {
  padding: 3vw;
}
body .half2 .inner .content {
  width: 100%;
  box-sizing: border-box;
}
body .half2 .inner .content .main_text {
  text-align: center;
  margin-top: 40px;
  height: 60vh;
  font-weight: bold;
  font-size: 200px;
  color: white;
}
body .half2 .inner .content .main_text span {
  font-family: "HSBombaram3_Regular";
  transform: scale(0.9, 1) rotatey(-10deg) translatey(0px);
  animation: 2.2s scaling cubic-bezier(0.45, 0, 0.55, 1) infinite;
  text-shadow: 0 0 #a20a0a, 0 0 #799351, 0 0 #f0d290;
  transform-origin: 50% 100%;
  color: #fff;
  position: relative;
  top: 10%;
  transform-style: preserve-3d;
  margin-right: 4px;
}
body .half2 .inner .content .main_text span:nth-child(1) {
  animation-delay: 140ms;
}
body .half2 .inner .content .main_text span:nth-child(2) {
  animation-delay: 280ms;
}
body .half2 .inner .content .main_text span:nth-child(3) {
  animation-delay: 420ms;
}
body .half2 .inner .content .main_text span:nth-child(4) {
  animation-delay: 560ms;
}
body .half2 .inner .content .main_text span:nth-child(5) {
  animation-delay: 700ms;
}
body .half2 .inner .content html {
  width: 100%;
  height: 100vh;
}
body .half2 .inner .content body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #f69294;
}
body .half2 .inner .content p {
  font-family: "HSBombaram3_Regular";
  padding-top: 50px;
  text-align: center;
  line-height: 1.5;
  color: white;
  font-size: bold;
}
body .half2 .inner .move_content {
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}
body .half2 .inner .move_content #move_main {
  width: 100%;
  position: relative;
}
body .half2 .inner .move_content #move_jan {
  position: absolute;
  left: -5%;
  width: 350px;
  animation: rotate_jan 2.5s linear infinite;
  transform-origin: top;
}
body .half2 .inner .title {
  position: fixed;
  top: 5vh;
  left: 67%;
  font-size: 100px;
  color: white;
}
body .half2 .inner .title.first {
  display: block;
  letter-spacing: 30px;
  font-weight: 800;
  background-size: contain;
  color: transparent;
  background-image: url("https://media.giphy.com/media/RIWkpfrOrX0DxP3m3q/giphy.gif");
  -webkit-background-clip: text;
}
body .half2 .inner .emotion_contents {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  padding: 100px 0;
  position: fixed;
  background-color: red;
}
body .half2 .inner .emotion_contents .container {
  display: flex;
  position: fixed;
  width: 50%;
  top: 5vw;
  left: 50%;
  height: 600px;
}
body .half2 .inner .emotion_contents .container img {
  width: 500px;
  height: 100%;
}
body .half2 .inner .emotion_contents .container p {
  font-family: "Work Sans";
  color: transparent;
  background-size: contain;
  -webkit-background-clip: text;
  background-image: url("https://media.giphy.com/media/RIWkpfrOrX0DxP3m3q/giphy.gif");
}
body .half2 .inner .emotion_contents .container .emotion__family {
  position: relative;
}
body .half2 .inner .emotion_contents .container .emotion__family .family_img {
  border-top-left-radius: 300px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 200px;
}
body .half2 .inner .emotion_contents .container .emotion__family p {
  position: absolute;
  top: 20vh;
  right: -10vw;
  font-size: 100px;
}
body .half2 .inner .emotion_contents .container .emotion__love {
  position: relative;
}
body .half2 .inner .emotion_contents .container .emotion__love .love_img {
  border-top-left-radius: 150px;
  border-top-right-radius: 460px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 300px;
}
body .half2 .inner .emotion_contents .container .emotion__love p {
  position: absolute;
  top: 5vh;
  right: -5vw;
  font-size: 100px;
}
body .half2 .inner .emotion_contents .container .emotion__bro {
  position: relative;
}
body .half2 .inner .emotion_contents .container .emotion__bro .bro_img {
  width: 600px;
  border-top-left-radius: 300px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
body .half2 .inner .emotion_contents .container .emotion__bro p {
  position: absolute;
  top: 40vh;
  right: -10vw;
  font-size: 80px;
}
body .half2 .inner .emotion_contents .container .emotion__nofamily {
  position: relative;
}
body .half2 .inner .emotion_contents .container .emotion__nofamily .nofamily_img {
  border-top-left-radius: 630px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 900px;
}
body .half2 .inner .emotion_contents .container .emotion__nofamily p {
  position: absolute;
  top: 3vh;
  right: 15vw;
  font-size: 80px;
}
body .half2 .inner .emotion_contents .container .emotion__sucess {
  position: relative;
}
body .half2 .inner .emotion_contents .container .emotion__sucess .sucess_img {
  border-top-left-radius: 400px;
  border-top-right-radius: 800px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 700px;
}
body .half2 .inner .emotion_contents .container .emotion__sucess p {
  position: absolute;
  top: 40vh;
  right: 15vw;
  font-size: 80px;
}
body .half2 .inner .title2 {
  position: fixed;
  top: -10vh;
  left: 70%;
  font-size: 100px;
}
body .half2 .inner .title2 .secon {
  letter-spacing: 30px;
  animation: text 5s infinite;
}
body .half2 .inner .ost_contents {
  display: inline-block;
  text-align: center;
  width: 50%;
  top: 0;
  left: 50%;
  padding: 3vh 3vw;
  position: fixed;
}
body .half2 .inner .ost_contents article {
  position: relative;
  width: 100%;
  height: 300px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5vh;
  cursor: pointer;
}
body .half2 .inner .ost_contents .ost_1 {
  position: relative;
  top: 0;
}
body .half2 .inner .ost_contents .ost_1 .pic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .half2 .inner .ost_contents .ost_1 .pic .opa {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
body .half2 .inner .ost_contents .ost_1 .pic .info {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  margin: 0 0 20px 30px;
  align-items: center;
}
body .half2 .inner .ost_contents .ost_1 .pic .info .info_icon {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 10px;
}
body .half2 .inner .ost_contents .ost_1 .pic .info .info_icon i {
  font-size: 40px;
}
body .half2 .inner .ost_contents .ost_1 .pic .info .info_text {
  font-size: 30px;
  padding-left: 20px;
  text-align: start;
}
body .half2 .inner .ost_contents .ost_1 .pic .info .info_text span {
  display: inline-block;
  font-size: 30px;
}
body .half2 .inner .ost_contents .ost_1 #ost1 {
  display: none;
}
body .half2 .inner .ost_contents .ost_1 #ost1.show {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
body .half2 .inner .ost_contents .ost_2 {
  position: relative;
}
body .half2 .inner .ost_contents .ost_2 .pic {
  width: 100%;
  height: 100%;
}
body .half2 .inner .ost_contents .ost_2 .pic .opa {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
body .half2 .inner .ost_contents .ost_2 .pic .info {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  margin: 0 0 20px 30px;
  align-items: center;
}
body .half2 .inner .ost_contents .ost_2 .pic .info .info_icon {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 10px;
}
body .half2 .inner .ost_contents .ost_2 .pic .info .info_icon i {
  font-size: 40px;
}
body .half2 .inner .ost_contents .ost_2 .pic .info .info_text {
  font-size: 30px;
  padding-left: 20px;
  text-align: start;
}
body .half2 .inner .ost_contents .ost_2 .pic .info .info_text span {
  display: inline-block;
  font-size: 30px;
}
body .half2 .inner .ost_contents .ost_2 #ost2 {
  display: none;
}
body .half2 .inner .ost_contents .ost_2 #ost2.show {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
body .half2 .inner .ost_contents .ost_3 {
  position: relative;
}
body .half2 .inner .ost_contents .ost_3 .pic {
  width: 100%;
  height: 100%;
}
body .half2 .inner .ost_contents .ost_3 .pic .opa {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
body .half2 .inner .ost_contents .ost_3 .pic .info {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  margin: 0 0 20px 30px;
  align-items: center;
}
body .half2 .inner .ost_contents .ost_3 .pic .info .info_icon {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 10px;
}
body .half2 .inner .ost_contents .ost_3 .pic .info .info_icon i {
  font-size: 40px;
}
body .half2 .inner .ost_contents .ost_3 .pic .info .info_text {
  font-size: 30px;
  padding-left: 20px;
  text-align: start;
}
body .half2 .inner .ost_contents .ost_3 .pic .info .info_text span {
  display: inline-block;
  font-size: 30px;
}
body .half2 .inner .ost_contents .ost_3 #ost3 {
  display: none;
}
body .half2 .inner .ost_contents .ost_3 #ost3.show {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
body .half2 .inner .ost_contents .ost_4 {
  position: relative;
}
body .half2 .inner .ost_contents .ost_4 .pic {
  width: 100%;
  height: 100%;
}
body .half2 .inner .ost_contents .ost_4 .pic .opa {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
body .half2 .inner .ost_contents .ost_4 .pic .info {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  margin: 0 0 20px 30px;
  align-items: center;
}
body .half2 .inner .ost_contents .ost_4 .pic .info .info_icon {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 10px;
}
body .half2 .inner .ost_contents .ost_4 .pic .info .info_icon i {
  font-size: 40px;
}
body .half2 .inner .ost_contents .ost_4 .pic .info .info_text {
  font-size: 30px;
  padding-left: 20px;
  text-align: start;
}
body .half2 .inner .ost_contents .ost_4 .pic .info .info_text span {
  display: inline-block;
  font-size: 30px;
}
body .half2 .inner .ost_contents .ost_4 #ost4 {
  display: none;
}
body .half2 .inner .ost_contents .ost_4 #ost4.show {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
body .half2 .inner footer {
  width: 100%;
  margin-top: 7000px;
  padding-top: 50px;
}
body .half2 .inner footer .footer p {
  font-size: 25px;
  color: white;
}
body .half2 .inner footer .footer input {
  box-sizing: border-box;
  margin-top: 25px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 25px;
  color: white;
}
body .half2 .inner footer .footer a {
  display: inline-block;
  text-align: center;
  width: 150px;
  margin-top: 30px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding: 10px;
}
body .half2 .inner footer .footer a:hover {
  background-color: white;
  color: black;
}
body .half2 .inner footer > p {
  margin-top: 60px;
  text-align: center;
  color: white;
}
body .coverPink {
  width: 100%;
  background-color: #a20a0a;
}
body .coverPink .lineText2 {
  transform: rotate(-2deg);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font: bold 1rem/1 "Josefin Sans";
}
body .topBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.4039215686);
  color: white;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4039215686);
  cursor: pointer;
}
body .topBtn:hover {
  background-color: rgba(255, 255, 255, 0.4039215686);
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  color: black;
}

/*# sourceMappingURL=greatshowman.css.map */
