/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* FONT */
@font-face {
  font-family: "soul";
  src: url(../font/soul-handwriting_free-version.ttf) format("truetype");
}
@font-face {
  font-family: "cloud";
  src: url(../font/MCKLW___.ttf) format("truetype");
}
div {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
div .half {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
  background-color: #59bdf0;
  z-index: 1;
  border-right: 1px solid #000;
}
div .half p {
  position: absolute;
  font: 120px/1 "soul";
  top: 3vw;
  left: 2vw;
}
div .half > img {
  position: absolute;
}
div .half .twingkle_effect1 {
  width: 300px;
  top: 23vw;
  left: 11vw;
}
div .half .twingkle_effect2 {
  width: 300px;
  top: 23vw;
  left: 26vw;
}
div .half .barbie_doll {
  top: 15vw;
  left: 18vw;
}
div .half .dummies > img {
  position: absolute;
}
div .half .dummies > img:nth-of-type(1) {
  width: 110px;
  top: 10vw;
  left: 12vw;
  transform: rotate(35deg);
}
div .half .dummies > img:nth-of-type(2) {
  width: 90px;
  top: 12vw;
  left: 33vw;
  transform: rotate(-35deg);
}
div .half .dummies > img:nth-of-type(3) {
  width: 140px;
  bottom: -10vw;
  left: 3vw;
  transform: rotate(-15deg);
}
div .half .dummies > img:nth-of-type(4) {
  width: 50px;
  bottom: -1vw;
  left: 18vw;
  transform: rotate(-10deg);
}
div .half .dummies > img:nth-of-type(5) {
  width: 70px;
  bottom: 0vw;
  left: 30vw;
  transform: rotate(10deg);
}
div .half .dummies > img:nth-of-type(6) {
  width: 115px;
  bottom: -10vw;
  left: 36vw;
  transform: rotate(50deg);
}
div .half .barbie_text {
  top: 31vw;
  left: 14vw;
  width: 400px;
  transform: rotate(35deg);
}
div .half2 {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  height: 2000px;
  background-color: #f5b5c7;
  overflow-x: hidden;
}
div .half2 .common_header {
  position: relative;
  top: 0;
  width: 100%;
  height: 15vh;
  color: #000;
  border-bottom: 1px solid #c8c8c8;
}
div .half2 .common_header nav {
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
div .half2 .common_header .main_nav {
  width: 70%;
  padding: 0.7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 30px/1 "Josefin Sans";
  cursor: pointer;
}
div .half2 .common_header .main_nav li:hover {
  font: bold 30px/1 "cloud";
}
div .half2 .common_header .sub_nav {
  width: 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 20px/1 "Josefin Sans";
  box-sizing: border-box;
  cursor: pointer;
}
div .half2 .common_header .sub_nav span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.7vh;
  padding-top: 1vh;
}
div .half2 .common_header .sub_nav span:hover {
  background-color: #59bdf0;
  transition: 1.3s;
}
div .half2 .common_header .sub_nav .lang:hover {
  text-decoration: underline;
  font-style: italic;
}
div .half2 .coverPink {
  width: 100vw;
}
div .half2 .coverPink .lineText {
  transform: rotate(-2deg);
  background-color: #ff3796;
}/*# sourceMappingURL=page1.css.map */