/* RESET */
@import "reset";

/* FONT */
@font-face {
    font-family: "soul";
    src: url(../font/soul-handwriting_free-version.ttf) format("truetype");
}

@font-face {
    font-family: "cloud";
    src: url(../font/MCKLW___.ttf) format("truetype");
}
@font-face {
    font-family: "cloudBK";
    src: url(../font/MCKLB___.ttf) format("truetype");
}
@font-face {
    font-family: "archer";
    src: url(../font/ArcherSemiboldPro.otf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
// font-family: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// font-family: 'Playfair Display', serif;

// bg color: yellow #fce52b pink #f5b5c7 blue #59bdf0 barbiecolor #D8FD12 red #59bdf0 yello #FCE52B

body {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(255, 235, 245) ;

    /* 왼쪽 페이지 */
    .half {
        width: calc(50% + 1px);
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background-image: url(../img/hotelDayNight.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 1px solid #000;

        p {
            position: absolute;
            font: 7.5rem/1 "soul";
            top: 3vw;
            left: 2vw;
            color:#fff292;
            text-shadow: 0.2rem 0.5rem 1rem #9e6b34c5;
        }
    }

    /* 오른쪽 페이지 */
    .half2 {
        position: relative;
        width: 50%;
        top: 0;
        left: 50%;
        overflow-x: hidden;

        /* 오른쪽 페이지 헤더 */
        .common_header {
            top: 0;
            width: 100%;
            height: 15vh;
            color: #000;
        
            nav {
                padding: 3vw;
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
            }
        
            .main_nav {
                width: 70%;
                padding: 0.7vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 30px/1 "archer";
                cursor: pointer;

                li {
                    text-align: center;
                    flex-basis: 100px;
                }
            }
            .main_nav li:hover {
                font: 30px/1 'cloud';
                transform: scale(1.5);
                font-weight: 500;
            }
        
            .sub_nav {
                width: 7vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 20px/1 "archer";
                box-sizing: border-box;
                cursor: pointer;
            
                span {
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 0.7vh;
                    padding-top: 1vh;
                }
        
                span:hover {
                    background-color: #f5b5c7;
                    transition: 1.3s;
                }
        
                .lang:hover {
                    text-decoration: underline;
                    font-style: italic;
                }
            }

            .coverPurple {
                top: 0;
                width: 100vw;
                background-color: purple;
                border: 1px solid #878787;
                padding: 1rem;
    
                .lineText1 {
                    color:plum;
                    font: italic bold 1.2rem/1 "archer";
                }
            }
        }


        .hotel_inner {
            padding: 3vw;

            /* 오른쪽 페이지__메인글씨 */
            .mainText{
                margin-top: 3vw;
                width: 100%;
                font: 4rem/1 "archer";
                text-align: center;
                letter-spacing: -0.4rem;
                -webkit-animation: text-flicker-out-glow 2.5s linear infinite both;
                animation: text-flicker-out-glow 2.5s linear infinite both;
                color: rgb(255, 255, 255);
                font: 150px/1 'TeXGyreAdventorBold';
                text-transform: none;        
            }
            >p {
                margin-top: 8vw;
                font: bold 1.2rem 'NEXON Lv1 Gothic OTF';
                text-align: center;
            }

            .hotelMiddle {
                position: relative;
                top: 0;
                left:0;
                width: 100%;
                height: 100vh;


                .hotelStaff {
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 100%;
                    height: 60vh;
                    background-image: url(../img/hotelStaff.gif);
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    // background-image: url(../img/hotelStaff.gif);
                    // background-position:center;
                    // background-repeat: no-repeat;
                    // background-size: contain;

                }
                .hotelDoor {
                    position: absolute;
                    top: 0;
                    left: -7vw;
                    width: 130%;
                }

            }

            /* 오른쪽 페이지 줄거리 소개 */
            .scrollArtice {
                padding-top: 50vw;

                &.scrollArticle0 {
                    
                    h1{
                    font-size: 4rem;
                    text-align: center;}

                    .welcomeMessage {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 3em;
                        font-size:2.5rem;
                        margin: 5px 0;

                        & p {
                            font-weight: bold;
                            text-align: center;
                            line-height: 1.2;
                        }
                    }
                    .stickyElem{
                        display: none;
                        position:fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
                .midMessage {
                    padding: 0 1rem;
                    font-size: 2rem;
                    color: #888;

                    & strong {
                        color: black;
                    }
                }
            }


            /* 마퀴 텍스트 효과 */
            .coverPurple {
                width: 100vw;
                background-color: purple;
                border: 1px solid #878787;
                padding: 1rem;
                position: relative;
                top: 5vw;
                z-index: 1;

                .lineText2 {
                    color:plum;
                    font: italic bold 1.2rem/1 "archer";
                }
            }
        }
    }
}

#showScene0 #scrollArticle0 .stickyElem,
#showScene1 #scrollArticle1 .stickyElem,
#showScene2 #scrollArticle1 .stickyElem,
#showScene3 #scrollArticle3 .stickyElem {
    display: block;
}

@-webkit-keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.6), 0 0 60px rgba(211, 160, 211, 0.45), 0 0 110px rgba(211, 160, 211, 0.25), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.6), 0 0 60px rgba(211, 160, 211, 0.45), 0 0 110px rgba(211, 160, 211, 0.25), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.4), 0 0 110px rgba(211, 160, 211, 0.2), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.4), 0 0 110px rgba(211, 160, 211,0.2), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.25);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes text-flicker-out-glow {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.6), 0 0 60px rgba(211, 160, 211,0.45), 0 0 110px rgba(211, 160, 211,0.25), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.6), 0 0 60px rgba(211, 160, 211, 0.45), 0 0 110px rgba(211, 160, 211, 0.25), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.4), 0 0 110px rgba(211, 160, 211, 0.2), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.4), 0 0 110px rgba(211, 160, 211, 0.2), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35), 0 0 100px rgba(211, 160, 211, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    39.9% {
      opacity: 0;
      text-shadow: none;
    }
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.55), 0 0 60px rgba(211, 160, 211,0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211,0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211,0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    69.4% {
      opacity: 0;
      text-shadow: none;
    }
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.45), 0 0 60px rgba(211, 160, 211, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.25);
    }
    80% {
      opacity: 0;
      text-shadow: none;
    }
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
    90% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(211, 160, 211, 0.25);
    }
    100% {
      opacity: 0;
    }
  }
  