/* RESET */
@import "reset";

/* FONT */
@font-face {
    font-family: "soul";
    src: url(../font/soul-handwriting_free-version.ttf) format("truetype");
}

@font-face {
    font-family: "cloud";
    src: url(../font/MCKLW___.ttf) format("truetype");
}
@font-face {
    font-family: "cloudBK";
    src: url(../font/MCKLB___.ttf) format("truetype");
}
@font-face {
    font-family: "archer";
    src: url(../font/ArcherSemiboldPro.otf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
// font-family: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// font-family: 'Playfair Display', serif;

// bg color: yellow #fce52b pink #f5b5c7 blue #59bdf0 barbiecolor #D8FD12 red #59bdf0 yello #FCE52B

body {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(255, 235, 245) ;

    /* 왼쪽 페이지 */
    .half {
        width: calc(50% + 1px);
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background-image: url(../img/hotelDayNight.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-right: 1px solid #000;

        p {
            position: absolute;
            font: 7.5rem/1 "soul";
            top: 3vw;
            left: 2vw;
            color:#fff292;
            text-shadow: 0.2rem 0.5rem 1rem #9e6b34c5;
        }
    }

    /* 오른쪽 페이지 */
    .half2 {
        position: relative;
        width: 50%;
        top: 0;
        left: 50%;
        overflow-x: hidden;

        /* 오른쪽 페이지 헤더 */
        .common_header {
            top: 0;
            width: 100%;
            height: 15vh;
            color: #000;
        
            nav {
                padding: 3vw;
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
            }
        
            .main_nav {
                width: 70%;
                padding: 0.7vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 30px/1 "archer";
                cursor: pointer;

                li {
                    text-align: center;
                    flex-basis: 100px;
                }
            }
            .main_nav li:hover {
                font: 30px/1 'cloud';
                transform: scale(1.5);
                font-weight: 500;
            }
        
            .sub_nav {
                width: 7vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 20px/1 "archer";
                box-sizing: border-box;
                cursor: pointer;
            
                span {
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 0.7vh;
                    padding-top: 1vh;
                }
        
                span:hover {
                    background-color: #f5b5c7;
                    transition: 1.3s;
                }
        
                .lang:hover {
                    text-decoration: underline;
                    font-style: italic;
                }
            }

            .coverPurple {
                top: 0;
                width: 100vw;
                background-color: purple;
                border: 1px solid #878787;
                padding: 1rem;
    
                .lineText1 {
                    color:plum;
                    font: italic bold 1.2rem/1 "archer";
                }
            }
        }


        .hotel_inner {
            padding: 3vw;

            /* 오른쪽 페이지__메인글씨 */
            &:nth-child(1) {
                display: flex;
                align-content: center;
                justify-content: center;
            }
            .mainText{
                margin-top: 2vw;
                width: 100%;
                height: 20vw;
                font: 5rem/1 "archer";
                text-align: center;
                text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
                text-transform: uppercase;
                color: var(--color-primary);
                animation: netflix_style 3.5s infinite;
                outline: none;
                white-space: nowrap;
                letter-spacing: -0.4rem;
            }
            >p {
                margin-top: 10vw;
                font: bold 1.2rem 'NEXON Lv1 Gothic OTF';
                text-align: center;
            }

            .hotelMiddle {
                position: relative;
                top: 0;
                left:0;
                width: 100%;
                height: 100vh;


                .hotelStaff {
                    position: absolute;
                    top: 0;
                    left:0;
                    width: 100%;
                    height: 60vh;
                    background-image: url(../img/hotelStaff.gif);
                    background-position:center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    // background-image: url(../img/hotelStaff.gif);
                    // background-position:center;
                    // background-repeat: no-repeat;
                    // background-size: contain;

                }
                .hotelDoor {
                    position: absolute;
                    top: 0;
                    left: -7vw;
                    width: 130%;
                    
                    // transform-origin: center center;
                    // animation: door  15s infinite;
                }

            }
            /* 오른쪽 페이지__드라이기 */
            
            /* 오른쪽 페이지 등장인물 소개 */
            >h2 {
                margin: 5vw 0 2vw 0;
                color: #fff;
                font-weight:900 ;
                position: relative;
                top: 5vw;
                background-color: #0000;
                text-shadow:0.1em 0.1em #ff3796, 0.15em 0.15em #ff3796, 0.2em 0.2em #ff3796, 0.25em 0.25em #ff3796,0.3em 0.3em #ff3796, 0.35em 0.35em #ff3796;
            }
            .role {
                width: 100%;
                height: 30vh;
                position: relative;
                top: 6vw;
                left: 0;
                margin-bottom: 5vw;
                

                .barbieRole {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .barbieRoleImg {
                        height: 250px;
                        background-image: url(../img/castBarbie.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;                  
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow:0.1em 0.1em #ff3796, 0.15em 0.15em #ff3796, 0.2em 0.2em #ff3796, 0.25em 0.25em #ff3796,0.3em 0.3em #ff3796, 0.35em 0.35em #ff3796;
                    }
                }
                .kenRole {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 10vw;

                    .kenRoleImg {
                        height: 250px;
                        background-image: url(../img/castKen.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;      
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow:0.1em 0.1em #ff3796, 0.15em 0.15em #ff3796, 0.2em 0.2em #ff3796, 0.25em 0.25em #ff3796,0.3em 0.3em #ff3796, 0.35em 0.35em #ff3796;
                    }
                }

                .director {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 20vw;

                    .directorRoleImg {
                        height: 250px;
                        background-image: url(../img/castGretaGerwig.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;             
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow:0.1em 0.1em #ff3796, 0.15em 0.15em #ff3796, 0.2em 0.2em #ff3796, 0.25em 0.25em #ff3796,0.3em 0.3em #ff3796, 0.35em 0.35em #ff3796;
                    }
                }
                
                .writer {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 30vw;

                    .writerRoleImg {
                        height: 250px;
                        background-image: url(../img/castNoahBaumbach.webp);
                        background-position-x: -135px;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0;             
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow:0.1em 0.1em #ff3796, 0.15em 0.15em #ff3796, 0.2em 0.2em #ff3796, 0.25em 0.25em #ff3796,0.3em 0.3em #ff3796, 0.35em 0.35em #ff3796;
                    }
                }
            }
            
        }

        
        /* 오른쪽 페이지 줄거리 소개 */
        .barbieStory {
            position: relative;
            top: 5vw;
            width: 100%;
            height: 125vh;
            background-image: url(../img/bgCandy.jpg);
            background-size: cover;
            background-repeat: no-repeat;

            .year2000 {
                width: 35vw;
                position: absolute;
                left: 15%;
            }

            .barbieImg {
                top: 0;
                    left: 0;

                >img {
                    position: absolute;
                    top: 2vw;
                    left: 3vw;
                }
                img:nth-of-type(1) {
                    width: 15vw;
                    left: 15vw;
                }
                img:nth-of-type(2) {
                    width: 15vw;
                    left: 33vw;
                }
                img:nth-of-type(3) {
                    width: 30vw;
                    top: 20vw;
                }
                img:nth-of-type(4) {
                    width: 15vw;
                    top: 30vw;
                    left: 28vw;
                }
                img:nth-of-type(5) {
                    width: 15vw;
                    height: 10vw;
                    top: 50vw;
                    left: 20vw;
                }
                img:nth-of-type(6) {
                    width: 15vw;
                    height: 10vw;
                    top: 50vw;
                }
            }
        }

        /* 마퀴 텍스트 효과 */
        .coverPink1 {
            width: 100vw;
            background-color: #ff3796;
            border: 1px solid #878787;
            // display: flex;
            padding: 1rem;
            transform: rotate(355deg);
            position: absolute;
            left: -1vw;

            .lineText1 {
                color:#fff;
                font: bold 1rem/1 'Playfair Display';
                letter-spacing: 0.15rem;
                display: flex;
                font-style:italic;
            }
        }
        .coverPink2 {
                width: 100vw;
                background-color: #ff3796;
                border: 1px solid #878787;
                display: flex;
                padding: 1rem;
                transform: rotate(5deg);
                position: absolute;
                left: -30vw;

            .lineText2 {
                color:#fff;
                font: bold 1rem/1 'Playfair Display';
                letter-spacing: 0.15rem;
                justify-content: flex-end;
                font-style:italic;
            }
        }
        .coverPurple {
            width: 100vw;
            background-color: purple;
            border: 1px solid #878787;
            padding: 1rem;
            position: relative;
            top: 5vw;
            z-index: 1;

            .lineText2 {
                color:plum;
                font: italic bold 1.2rem/1 "archer";
            }
        }
    }
}

@function makelongshadow($length,$angle) {
    $val: 0px 0px transparent;
    @for $i from 1 through $length {
        $val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
    }
    @return $val;
    }

@keyframes netflix_style {
    0% {
        text-shadow: makelongshadow(50,1);
        color:#f3f3f3;
        transform: scale(1.5, 1.5);
    }
    10% {
        text-shadow: makelongshadow(50,1.5);
        color:#f3f3f3;
        transform: scale(1.5, 1.5);
    }
    15% {
        color:#f3f3f3;
    }
    20% {    
        color:#756480;
        text-shadow: none;
        transform: scale(1.1, 1.1);
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0;    
        color:#d2b5d5;
        transform: scale(0.85, 0.9);
    }
    
    100% {
        opacity: 0;
    }
}
