/* RESET */
@import "reset";

/* FONT */
@font-face {
    font-family: "soul";
    src: url(../font/soul-handwriting_free-version.ttf) format("truetype");
}

@font-face {
    font-family: "cloud";
    src: url(../font/MCKLW___.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
// font-family: 'Josefin Sans', sans-serif;

// bg color
// yellow #fce52b pink #f5b5c7 blue #59bdf0 barbiecolor #D8FD12

body {
    width: 100%;
    // height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #f5b5c7;

    /* 왼쪽 페이지 */
    .half {
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: calc(50% + 1px);
        background-color: #59bdf0;
        z-index: 1;
        border-right: 1px solid #000;

        p {
            position: absolute;
            font: 120px/1 "soul";
            top: 3vw;
            left: 2vw;
            color: #D8FD12;
            text-shadow: 2px 10px 20px rgba(85, 85, 85, 0.8);
        }
        >img {
            position: absolute;
        }
        .twingkle_effect1 {
            width: 300px;
            top: 23vw;
            left: 11vw;
        }
        .twingkle_effect2 {
            width: 300px;
            top: 23vw;
            left: 26vw;
        }
        .barbie_doll{
            top: 15vw;
            left: 18vw;
        }
        .dummies>img {
            position: absolute;
        }
        .dummies>img:nth-of-type(1) {
            width: 110px;
            top: 10vw;
            left: 12vw;
            transform: rotate(35deg);
        }
        .dummies>img:nth-of-type(2) {
            width: 90px;
            top: 12vw;
            left: 33vw;
            transform: rotate(-35deg);
        }
        .dummies>img:nth-of-type(3) {
            width: 140px;
            top:40vw;
            left: 3vw;
            transform: rotate(-15deg);
        }
        .dummies>img:nth-of-type(4) {
            width: 50px;
            top:45vw;
            left: 18vw;
            transform: rotate(-10deg);
        }
        .dummies>img:nth-of-type(5) {
            width: 70px;
            top:45vw;
            left: 30vw;
            transform: rotate(10deg);
        }
        .dummies>img:nth-of-type(6) {
            width: 115px;
            top:40vw;
            left: 36vw;
            transform: rotate(50deg);
        }
        .barbie_text{
            top: 31vw;
            left: 14vw;
            width: 400px;
            transform: rotate(35deg)
        }
    }

    /* 오른쪽 페이지 */
    .half2 {
        position: absolute;
        width: 50%;
        top: 0;
        left: 50%;
        // background-color: #f5b5c7;

        overflow-x: hidden;

        /* 오른쪽 페이지 헤더 */
        .common_header {
            position: relative;
            top: 0;
            width: 100%;
            height: 15vh;
            color: #000;
            border-bottom: 1px solid #c8c8c8;
        
            nav {
                padding: 3vw;
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
            }
        
            .main_nav {
                width: 70%;
                padding: 0.7vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 30px/1 'Josefin Sans';
                cursor: pointer;

                li {
                    text-align: center;
                    flex-basis: 100px;
                }
            }
            .main_nav li:hover {
                font: bold 30px/1 "cloud";
            }
        
            .sub_nav {
                width: 7vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font: 20px/1 'Josefin Sans';
                box-sizing: border-box;
                cursor: pointer;
            
        
                span {
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 0.7vh;
                    padding-top: 1vh;
                }
        
                span:hover {
                    background-color: #59bdf0;
                    transition: 1.3s;
                }
        
                .lang:hover {
                    text-decoration: underline;
                    font-style: italic;
                }
                
            }
        }
        .barbie_inner {
            padding: 3vw;
            
            /* 오른쪽 페이지__메인글씨 */
            .mainText{
                width: 100%;
                height: 30vw;
                background-color: black;
            }
            >p {
                font: bold 18px 'NEXON Lv1 Gothic OTF';
                text-align: center;
            }

            /* 오른쪽 페이지__드라이기 */
            .dryer {
                position: relative;
                width: 100%;
                height: 50vw;
                background-color: #59bdf0;

                >img {
                    width: 300px;
                }

                .dollars {
                    overflow-x: hidden;
                    height: 200px;
                    >img:nth-child(1){
                        width: 200px;
                        transform: rotate(-20deg);
                        position: absolute;
                        top: -15px;
                        right: 20px;
                    }

                    >img:nth-child(2){
                        width: 100px;
                        transform: rotate(20deg);
                        position: absolute;
                        top: -15px;
                        right: 0px;
                    }

                    >img:nth-child(3){
                        width: 150px;
                        transform: rotate(30deg);
                        position: absolute;
                        top: 50px;
                        right: 0px;
                    }
                }
            }

            /* 오른쪽 페이지 등장인물 소개 */
            .role {
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                

                .barbieRole {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .barbieRoleImg {
                        height: 250px;
                        background-image: url(../img/barbie.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;                  
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
                    }
                }
                .kenRole {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 10vw;

                    .kenRoleImg {
                        height: 250px;
                        background-image: url(../img/ken.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;      
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
                    }
                }

                .director {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 20vw;

                    .directorRoleImg {
                        height: 250px;
                        background-image: url(../img/GretaGerwig.jpg);
                        background-position: center;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0 ;             
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
                    }
                }
                
                .writer {
                    width: 13vw;
                    position: absolute;
                    top: 0;
                    left: 30vw;

                    .writerRoleImg {
                        height: 250px;
                        background-image: url(../img/NoahBaumbach.webp);
                        background-position-x: -135px;
                        background-size: cover;
                        border-radius: 50%;
                        border: 5px solid #59bdf0;             
                    }
                    >span {
                        color: #fff;
                        font-weight: bold ;
                        text-shadow: -1px 0 #ff3796, 0 2px #ff3796, 2px 0 #ff3796, 0 -1px #ff3796;
                    }
                }
            }
            
        }


        .coverPink {
            width: 100vw;
            background-color: #ff3796;
            border: 1px solid #878787;

            .lineText {
                transform: rotate(-2deg);
                color:#fff;
                padding-top: 10px;
                padding-bottom: 10px;
                font: bold 15px/1 'Josefin Sans';
            }
        }

    }
}

