.title2 {
  position: fixed;
  top: -10vh;
  left: 70%;
  font-size: 100px;

  .secon {
    letter-spacing: 30px;
    animation: text 5s infinite;
  }
}

.ost_contents {
  display: inline-block;
  text-align: center;
  width: 50%;
  top: 0;
  left: 50%;
  padding: 3vh 3vw;
  position: fixed;

  article {
    position: relative;
    width: 100%;
    height: 300px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5vh;
    cursor: pointer;

    // iframe.show {
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    // }
  }

  .ost_1 {
    position: relative;
    top: 0;

    .pic {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .opa {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
      }

      .info {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        margin: 0 0 20px 30px;
        align-items: center;

        .info_icon {
          width: 80px;
          height: 80px;
          border: 2px solid white;
          border-radius: 50%;
          padding-top: 18px;
          padding-left: 10px;

          i {
            font-size: 40px;
          }
        }
        .info_text {
          font-size: 30px;
          padding-left: 20px;
          text-align: start;

          span {
            display: inline-block;
            font-size: 30px;
          }
        }
      }
    }

    #ost1 {
      display: none;
    }

    #ost1.show {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
  // 두번째 영상
  .ost_2 {
    position: relative;

    .pic {
      width: 100%;
      height: 100%;

      .opa {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
      }

      .info {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        margin: 0 0 20px 30px;
        align-items: center;

        .info_icon {
          width: 80px;
          height: 80px;
          border: 2px solid white;
          border-radius: 50%;
          padding-top: 18px;
          padding-left: 10px;

          i {
            font-size: 40px;
          }
        }
        .info_text {
          font-size: 30px;
          padding-left: 20px;
          text-align: start;

          span {
            display: inline-block;
            font-size: 30px;
          }
        }
      }
    }

    #ost2 {
      display: none;
    }

    #ost2.show {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }

  // 세번째 영상
  .ost_3 {
    position: relative;

    .pic {
      width: 100%;
      height: 100%;

      .opa {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
      }

      .info {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        margin: 0 0 20px 30px;
        align-items: center;

        .info_icon {
          width: 80px;
          height: 80px;
          border: 2px solid white;
          border-radius: 50%;
          padding-top: 18px;
          padding-left: 10px;

          i {
            font-size: 40px;
          }
        }
        .info_text {
          font-size: 30px;
          padding-left: 20px;
          text-align: start;

          span {
            display: inline-block;
            font-size: 30px;
          }
        }
      }
    }

    #ost3 {
      display: none;
    }

    #ost3.show {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
  // 네번째 영상
  .ost_4 {
    position: relative;

    .pic {
      width: 100%;
      height: 100%;

      .opa {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
      }

      .info {
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        margin: 0 0 20px 30px;
        align-items: center;

        .info_icon {
          width: 80px;
          height: 80px;
          border: 2px solid white;
          border-radius: 50%;
          padding-top: 18px;
          padding-left: 10px;

          i {
            font-size: 40px;
          }
        }
        .info_text {
          font-size: 30px;
          padding-left: 20px;
          text-align: start;

          span {
            display: inline-block;
            font-size: 30px;
          }
        }
      }
    }

    #ost4 {
      display: none;
    }

    #ost4.show {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  }
}
