@import "reset";

/* FONTS */
@font-face {
  font-family: "soul";
  src: url(/assets/fonts/soul-handwriting_free-version.ttf) format("truetype");
}

@font-face {
  font-family: "lalabold";
  src: url(/assets/fonts/Yasashii-W01-Bold.ttf) format("truetype");
}

/* 눈누fonts */
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
// font-family: 'Source Sans Pro', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
// font-family: 'Source Sans Pro', sans-serif;

body {
  width: 100%;
  // height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #c2cbe2;

  .half {
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 50%;
    // background-color: #fce52b;
    z-index: 1;
    border-right: 1px solid #000;

    // h1 {
    //     position: absolute;
    //     font: 7.5rem/1 "soul";
    //     top: 3vw;
    //     left: 2vw;
    //     color: #fff;
    //     text-shadow: 10px 10px 15px #000;
    // }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .half2 {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;
    //background-color: #e8aa42;
    // height: 2000px;
    overflow-x: hidden;
    overflow-y: hidden;

    .common_header {
      position: relative;
      top: 0;
      width: 100%;
      height: 8vw;
      color: #000;
      // border-bottom: 1px solid #c8c8c8;

      nav {
        padding: 3vw;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
      }

      .main_nav {
        width: 70%;
        padding: 0.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: 1.8rem/1 "lalabold";
        cursor: pointer;

        li {
          text-align: center;
          flex-basis: 100px;
        }
      }

      .main_nav li:hover {
        transform: scale(1.2);
        // font: 30px/1 "cloud";
        // transform: scale(1.5);
        // font-weight: 500;
      }

      .sub_nav {
        width: 7vw;
        display: flex;
        align-items: center;
        font: 1.4rem/1 "lalabold";
        box-sizing: border-box;
        cursor: pointer;

        span {
          border: 1px solid black;
          border-radius: 10px;
          padding: 0.4vw;
          padding-top: 0.6vw;
          margin-left: 4vw;
        }

        span:hover {
          background-color: #5189ad;
          transition: 1.3s;
        }

        // .lang:hover {
        //     text-decoration: underline;
        //     font-style: italic;
        // }
      }
    }

    .coverPink {
      width: 100vw;
      background-color: #7e829a;
      // border: 1px solid #878787;

      .lineText1 {
        transform: rotate(-2deg);
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        font: bold 1rem/1 "lalabold";
      }
    }

    .inner {
      // padding: 3vw;
      // height: 100vh;
      // perspective: 1000px;

      .container {
        width: 100%;
        margin: 0 auto;
        height: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        // background-color: #d1dae3;

        .text {
          color: transparent;
          font-size: 10vw;
          font-family: "lalabold";
          display: inline-block;
          border-radius: 3px;
          background-color: #1d3557;
          position: relative;
          -webkit-background-clip: text;
          background-clip: text;

          &:before {
            content: attr(data-title);
            background: linear-gradient(90deg, #053a86 0%, #f4b10b 51%, #a4253b 100%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background-clip: text;
            -webkit-background-clip: text;
            transition: all 1s ease-in-out;
            animation: text-animation 3s infinite;
          }
        }
      }

      .intro {
        width: 80%;
        height: 30vw;
        margin-left: 5vw;

        .intro_title {
          font: 2rem/1 "lalabold";
          letter-spacing: 1px;
          text-align: center;
        }

        p {
          font: 1.3rem/1.3 "LeferiPoint-WhiteObliqueA";
          letter-spacing: 1px;
          text-align: center;
        }
      }

      h2 {
        font: 7rem "lalabold";
        padding: 3vw;
        text-align: center;
      }

      .nav {
        width: 100%;
        height: 42vw;
        // top: 20vw;
        position: relative;
        // background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(2px);
        margin-left: 2vw;

        li {
          position: relative;
          width: 100%;
          padding: 2vw;
          margin-bottom: -4vw;
          opacity: 0.4;
          cursor: pointer;
          transition: 1.4s;
          transform-origin: left center;

          &:hover {
            transform: scale(1.2);
            opacity: 1;
          }

          img {
            width: 10%;
            height: 40%;
            position: absolute;
            float: left;
            border-radius: 10px;
          }

          h2 {
            position: relative;
            top: -1.5vw;
            font: 1rem "Source Sans Pro";
            display: inline-block;
            color: #000;
            letter-spacing: 1px;
            // margin-bottom: 1vh;
            margin-left: 3vw;

            &::after {
              content: "";
              display: block;
              width: 20px;
              height: 1px;
              background-color: #000;
              // margin-top: 5px;
              transition: 1.5s;
            }
          }

          p {
            position: relative;
            top: -4vw;
            color: #000;
            font: 1rem "Source Sans Pro";
            letter-spacing: 1px;
            opacity: 0.7;
            margin-left: 6vw;
          }

          // &.on {
          //     background-color: linear-gradient(90deg,rgba(0,0,0,0.9),rgba(0,0,0,0));
          //     transform: scale(1.2);
          //     opacity: 1;
          // }

          h2::after {
            width: 100%;
          }
        }
      }

      .img_aos {
        width: 100%;
        height: 60vh;
        margin-top: 5vw;
        display: inline-block;
        background-image: url(../img/fireworks2.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
          width: 45%;
          height: 100%;
          bottom: 0;
          vertical-align: bottom;

          &:nth-child(2) {
            width: 50%;
            float: right;
            // bottom: -2vw;
          }
        }
      }
    }

    .coverPink {
      width: 100vw;
      background-color: #7e829a;
      // border: 1px solid #878787;

      .lineText2 {
        transform: rotate(-2deg);
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        font: bold 1rem/1 "lalabold";
      }
    }
  }

  .topBtn {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #7e829a;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff67;
    cursor: pointer;

    &:hover {
      background-color: #ffffff67;
      border: 1px solid #00000067;
      color: black;
    }
  }
}

// keyframes
@keyframes text-animation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }

  100% {
    transform: translateY(10%) rotate(360deg);
  }
}
